<%- include('partials/head', {title:"Login - Social Network"}) %>


<main>

  <h1>Login</h1>

  <div class="login-forms">
    <div class="single-form">
      <form method="POST" enctype="application/x-www-form-urlencoded" id="login-form">
        <input type="text" name="username" id="username" placeholder="Your username">
        <button type="submit">Login</button>
      </form>
    </div>
  </div>

  <p>You don't have an account? <a href="/register">Go top Register Form</a></p>

</main>


<%- include('partials/footer') %>

<script src="/displayError.js"></script>

<%- include('partials/foot') %>
  